.form__field {
    border: solid 2px rgb(236, 14, 14);
    padding: 10px;
    border-radius: 5%;
    max-width: 90%;
    margin: 5px;
}

.form__text {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}

.form__image {
    width: 100%;
    max-width: 250px;
    border-radius: 10%;
    border: none
}

.form__label {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.form__button {
    border: none;
}